<div class="mb-1">
    <h1>Bienvenido {{usuario.username}}</h1>
    <small>Miembro desde el {{usuario.createdAt | date:'dd/MM/yyyy' }} </small>
    <br />
    <small>Ultima conexión e {{usuario.updatedAt | date:'dd/MM/yyyy' }} </small>
</div>

<hr>

<div class="container">
    <div class="row">
        <div class="col">
            <input type="button" name="imgCambiarPass" id="cambiarpass_btn" alt="Cambiar Pass" class="d-flex justify-content-center" (click)="cambiarpass()">
        </div>
        

        <div class="col">
            <input type="button" name="imgdonar" id="donar_btn" alt="Donar" class="d-flex justify-content-center" (click)="donar()">
        </div>

        <div class="col">
            <input type="button" name="imgvip" id="vip_btn" alt="VIP" class="d-flex justify-content-center" (click)="vip()">
        </div>

        <div class="col">
            <input type="button" name="deslogear" id="salir_btn" alt="Salir" class="d-flex justify-content-center" (click)="deslogear()">
        </div>
    </div>
</div>