<div class="d-flex justify-content-center h-100">
	<div class="card">
		<div class="card-header">
			<h3>Verificar Cuenta</h3>
		</div>
		<div class="card-body">
			<form class="form-horizontal form-material" id="confirmarform" autocomplete="off" [formGroup]="confirmarForm"
				(ngSubmit)="confirmar()">

				<div class="form-group">
					<div class="col-xs-12 p-2">
						<label>Nombre de usuario</label>
						<input type="text" formControlName="username" class="form-control"
							[ngClass]="{ 'is-invalid': formSubmitted && f['username'].errors }" />

						<div *ngIf="formSubmitted && f['username'].errors" class="invalid-feedback">
							<div *ngIf="f['username'].errors['required']">El nombre de usuario es obligatorio.</div>
							<div *ngIf="f['username'].errors['minlength']">
								El nombre de usuario debe tener un minimo de 6 caracteres.
							</div>
							<div *ngIf="f['username'].errors['maxlength']">
								El nombre de usuario no puede tener mas de 20 caracteres.
							</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-xs-12 p-2">
						<label>Codigo de validación</label>
						<input type="text" formControlName="codigo" class="form-control"
							[ngClass]="{ 'is-invalid': formSubmitted && f['codigo'].errors }" />
					</div>
				</div>

				<div>
					<form [formGroup]="aFormGroup">
						<ngx-recaptcha2 #captchaElem siteKey="6LfpLsggAAAAAIIquu5IDM_1eL1-z1DdTwXpr91j"
							(success)="handleSuccess($event)" [size]="size" [hl]="lang" [theme]="theme" [type]="type"
							formControlName="recaptcha">
						</ngx-recaptcha2>
					</form>
				</div>

				<div class="form-group">
					<input type="submit" name="imgingresar" id="login_btn" alt="ingresar"
						class="d-flex justify-content-center">
				</div>

			</form>