<div id='title_content'>DESCARGAS</div>

<h4>Descargas</h4>
<p>Lo sentimos, el juego aun no esta disponible para descargar.</p>
<p>No pierdas detalle del desarrollo de la nueva versión y unete a nuestro servidor de Discord y redes sociales!</p>
<br>

<hr>

<h4>Versiones Anteriores</h4>
<p>WinterAO es una modificación de Argentum Online bajo la licencia <a href="https://es.wikipedia.org/wiki/GNU_General_Public_License" target="_blank">GNU/GPL</a>. Nos gusta ser agradecido con la comunidad y
cumplir con las licencias, es por ello que ponemos a disposición la descarga del codigo fuente, asi como sus recursos y
herramientas de versiones anteriores. Accede al repositorio de GitHub y descarga el codigo fuente de WinterAO Ultimate.</p>

<a href="https://github.com/Lorwik/Winter-AO-Libre" target="_blank">Repositorio de WinterAO </a>
