<div id='title_content'>NOTICIAS</div>

<div class='news' *ngFor="let noticia of Noticias.reverse(); let i = index">
    <div *ngIf="i == pagActual || i == pagActual + 1">
        <div class='news_title'>
            <a href="#">{{noticia.titulo}}</a> / {{noticia.fecha}}
        </div>
        <div class='news_text'>
            <td [innerHTML]="noticia.contenido"> </td>
        </div>
        <div class='news_info'>
            <!-- <div><a href="#"><img src="assets/img/news_more.png">read more</a></div> -->
            by <a href="#">{{noticia.autor}}</a>
        </div>
    </div>
</div>
<div id='pages'>
    <div class="mr-4"><a *ngIf="(pagActual - 2) == 0" (click)="especificarPagina(pagActual - 2)">Anterior </a></div>
    <!-- <a (click)="especificarPagina(0)">1</a>
    <a (click)="especificarPagina(2)">2</a>
    <a (click)="especificarPagina(3)">3</a>
    <span>...</span>
    <a href="#">34</a> -->
    <div><a *ngIf="(pagActual + 2) < Noticias.length" (click)="especificarPagina(pagActual + 2)"> Siguiente</a></div>
</div>