<div id='title_content'>STAFF</div>

<h4>Dirección General y Programación</h4>
<p>Lorwik</p>

<h4>Dirección Servidores</h4>
<p>sANTO - Servidor Latino</p>
<p>Zharkel - Servidor Europeo</p>

<h4>Mapeo</h4>
<p>Howell</p>

<h4>Balance y Rol</h4>
<p>Tulgrammar</p>

<h4>Prensa y Gestión de Redes Sociales</h4>
<p>sANTO</p>
<p>Zharkel</p>

<h4>Agradecimientos especiales: </h4>
<p>A Jopi el desarrollo de la antigua web.
A todos los que pertenecieron al Staff de Winter en algun momento, y a la comunidad de Argentum Online en general por sus aportes y apoyo.</p>