<div id='title_content'>MULTIMEDIA</div>

<h5>Imagenes:</h5>

<div id="carouselWinter" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselWinter" data-bs-slide-to="0" class="active" aria-current="true"
      aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselWinter" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselWinter" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselWinter" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href="/assets/img/galeria/Shakoud.PNG" target="_blank"><img src="/assets/img/galeria/Ramx.PNG"
          class="d-block w-100" alt="Ramx"></a>
      <div class="carousel-caption d-none d-md-block">
        <h5>Ramx</h5>
        <p>Ciudad de inicio de todos los aventureros en las tierras Winter.</p>
      </div>
    </div>
    <div class="carousel-item">
      <a href="/assets/img/galeria/Shakoud.PNG" target="_blank"><img src="/assets/img/galeria/Shakoud.PNG"
          class="d-block w-100" alt="Shakoud"></a>
      <div class="carousel-caption d-none d-md-block">
        <h5>Shakoud</h5>
        <p>Ciudad de las razas enanas y gnomos.</p>
      </div>
    </div>
    <div class="carousel-item">
      <a href="/assets/img/galeria/Shakoud.PNG" target="_blank"><img src="/assets/img/galeria/Belleuve.PNG"
          class="d-block w-100" alt="Belleuve"></a>
      <div class="carousel-caption d-none d-md-block">
        <h5>Belleuve</h5>
        <p>Capital del Imperio.</p>
      </div>
    </div>
    <div class="carousel-item">
      <a href="/assets/img/galeria/Shakoud.PNG" target="_blank"><img src="/assets/img/galeria/VacioAbisal.PNG"
          class="d-block w-100" alt="Vacio Abisal"></a>
      <div class="carousel-caption d-none d-md-block">
        <h5>Vacio Abisal</h5>
        <p>Dimensión desconocida.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselWinter" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselWinter" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>

<hr>
<h5>Videos:</h5>

<p>Puedes ver todos los videos disponibles de WinterAO en nuestro canal oficial de YouTube.</p>
<div id='socBig'>
  <a href="https://www.youtube.com/channel/UCuQZiL_VgTcQ8oQH9oHo6zA" target="_blank" id='ytB'></a>
</div>